.header {
  background: url("/images/desktop/image-hero.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 28rem;

  &__title {
    text-transform: uppercase;
    margin: 2rem;
    border: 1px solid #fff;
    color: #fff;
    padding: 1rem;
    font-family: "Josefins", sans-serif;
    font-weight: 300;
    margin-top: 6rem;

    @include breakpoint-up(medium) {
      width: 40%;
      margin: 3rem;
      margin-top: 7rem;
    }

    @include breakpoint-up(large) {
      margin-left: 6.5rem;
      width: 40%;
      padding: 3rem;
      font-size: 3rem;
      margin-top: 2rem;
    }
  }

  .links {
    display: flex;

    @include breakpoint-down(medium) {
      display: none;
    }

    &.elem-hide {
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      background: #000;
      list-style: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: 500ms ease-in-out;
      transform-origin: right;
      animation: fromLeft 0.3s ease-in;

      li {
        margin: 0.5rem 1rem;
        a {
          text-decoration: none;
          color: #fff;
          font-size: 24px;
          font-family: "Josefin Sans", sans-serif;
          font-weight: 300;
        }
      }

      @include breakpoint-up(medium) {
        display: none;
      }
    }

    @include breakpoint-up(medium) {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        list-style: none;
        margin: 0.5rem;

        a {
          color: #fff;
          text-decoration: none;
          font-family: "Alata", "sans-serif";

          &:hover {
            color: aquamarine;
          }
        }
      }
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .logo {
      position: relative;
      z-index: 15;

      @include breakpoint-up(medium) {
        width: 150px;
        margin-left: 2rem;
      }
    }
  }

  .hamburger {
    position: relative;
    z-index: 15;
    cursor: pointer;
    span {
      display: block;
      height: 2px;
      width: 20px;
      margin: 5px 0rem;
      background-color: #fff;
      transform-origin: center left;

      @include breakpoint-up(medium) {
        display: none;
      }
    }

    &.active {
      animation: spinAround 0.3s ease-in-out;

      span:nth-child(1) {
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
      }

      @include breakpoint-up(medium) {
        display: none;
      }
    }
  }
}
